<h1>Hi {{vm.user.name}}!</h1>

<div class="container">
  <h2>All registered users:</h2>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.allUsers">
        <td>{{user.user_id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.type}}</td>
        <td><button class="btn btn-danger" ng-click = "vm.deleteUser(user.user_id)">Delete</button></td>  
       </tr>
    </tbody>
  </table>
</div>

</body>
</html>

<p><a href="#/addSubject" class = "btn btn-link">Add new subject</a></p>

<p><a href="#/addUser" class = "btn btn-link">Add new user</a></p>

<form name="form" ng-submit="vm.loadSelectedUserId1()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.userid.$dirty && form.userid.$error.required }">
            <label for="userid">Student ID:</label>
            <input type="text" name="userid" id="userid" class="form-control" ng-model="vm.id" required />
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">View student details</button>   
        </div>
</div>
</form>    

<form name="form" ng-submit="vm.addGradeClick()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.userid.$dirty && form.userid.$error.required }">
            <label for="userid">Student ID:</label>
            <input type="text" name="userid" id="userid" class="form-control" ng-model="vm.id" required />
            <div class="form-actions">
                <label for="userid">Grade:</label>
                <input type="text" name="grade" id="grade" class="form-control" ng-model="vm.grade" required />
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Assign Grade</button>
                <p style="font-size: 10px">&nbsp;*User ID is required in order to assign a grade</p>
             </div>
        </div>
</form>
<p>&nbsp;</p>

<p><a href="#/login" class="btn btn-primary">Logout</a></p>
            