<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.angularjs.org/1.2.20/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.20/angular-route.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular-cookies.js"></script>

    <script src="app.js"></script>
    <script src="app-services/authentication.service.js"></script>
    <script src="app-services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <script src="app-services/user.service.js"></script> 
    <!-- Subject service that uses an api -->
    <script src="app-services/subject.service.js"></script> 

    <script src="home/home.controller.js"></script>
    <script src="home/studentDetails.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="register/addUser.controller.js"></script>
    <script src="register/addSubject.controller.js"></script>
    <script src="moderator/moderator.controller.js"></script>
</body>
</html>