<h1 >Hi {{vm.user.name}}!</h1>
<div class="container">
  <h2>Grades:</h2>  
    <button class="btn btn-danger" ng-click = "vm.ShowUser()">Load users</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="grade in vm.user.grades">
        <td>{{grade.subject.name}}</td>
        <td>{{grade.grade}}</td>
       </tr>
    </tbody>
  </table>
</div>


</body>
</html>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>